<!DOCTYPE html>
<html>
<head>
	<title>{ifset #title}{include title|striptags} | {/ifset}{$siteTitle}</title>
	<meta n:if="$siteDescription" name="description" content="{$siteDescription}">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{$basePath}/layouts/default/js/netteForms.js"></script>
	<script src="{$basePath}/layouts/default/js/main.js"></script>

    {ifset $headerCode}{$headerCode|noescape}{/ifset}

	{block head}{/block}
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
		<a class="navbar-brand mr-auto" href="https://www.dailymaverick.co.za/">
			<img src="/images/maverick-insider-logo.png" alt="Daily Maverick Insider" height="60" class="normal">
			<!-- <img src="https://www.dailymaverick.co.za/wp-content/themes/twentyseventeen-child/images/defend-logo-latest.jpg" alt="Defend Truth" height="50" class="roll-over"> -->
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarMain">
			{control frontendMenu}
		</div>
	</nav>
	
	<div class="container-fluid">
		<div class="gk-page-wrap gk-page">
			<div class="x" style="padding:20px;">
				<div id="header" style="margin-bottom:20px;">
					{if $user->isLoggedIn()}
						{_system.logged} <b>{$user->getIdentity()->getData()['email']}</b>
						<br><hr>

						

						{if $user->getIdentity()->role === \Crm\UsersModule\Repository\UsersRepository::ROLE_ADMIN}
						| <a href="{link :Dashboard:Dashboard:}">ADMIN</a>
						{/if}
					{else}
						{ifCurrent :Users:Sign:In}
							&nbsp;
						{else}
							<a href="{link :Users:Sign:In}">{_system.sign_in}</a>
						{/ifCurrent}
					{/if}

					<p class="text-right" style="float:right">
					<b><a class="" href="{link :Subscriptions:Subscriptions:New}">{_system.buy_subscription}</a></b>
					</p>
				</div>

				<hr>

				{control simpleWidget 'frontend.layout.top'}

				{foreach $flashes as $flash}
					{if $flash->type == 'info'}
						<div class="alert alert-success">
							<strong>{_system.message.success|noescape}</strong> {$flash->message|noescape}
						</div>
					{elseif $flash->type == 'error'}
						<div class="alert alert-danger">
							<strong>{_system.message.error|noescape}</strong> {$flash->message|noescape}
						</div>
					{else}
						<div class="alert alert-warning">
							<strong>{_system.message.warning|noescape}</strong> {$flash->message|noescape}
						</div>
					{/if}
				{/foreach}

				{include content}

			</div>

		</div>
	</div>

	{block scripts}{/block}
</body>
</html>
